.lp-master {
  margin-bottom: 20.25rem;
}

.lp {
  display: flex;
  justify-content: center;
}

#myVideo {
  position: absolute;
  width: 100vw;
  height: calc(95vh - var(--navbar-height));
  object-fit: cover;
}

.lp-items {
  z-index: 0;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.lp p {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-weight: 500px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 8px black;
}

.cta button {
  color: white;
  font-size: 0.69rem;
  font-weight: 800;
  background-color: #ff4655;
  padding: 20px 90px 20px 90px;
  border: none;
  border-radius: 3px;
  margin-top: 50px;
  position: relative;
}

.cta button::before,
.cta button::after {
  content: "";
  width: 104%;
  height: 53%;
  border: 1px solid white;
  background-color: transparent;
  position: absolute;
  border-color: #b6b5b0;
  opacity: 70%;
}

.cta button::before {
  top: -7px;
  right: -6px;
  border-bottom: none;
}

.cta button::after {
  top: 33px;
  right: -6px;
  border-top: none;
}

button:hover {
  background-color: #001624;
  cursor: pointer;
}

/* don't know what this does */
.vl-1 {
  border-right: 10px solid orange;
  height: 100px;
  opacity: 40%;
}
