/* .lp-master{
} */

.lp {
  display: flex;
  justify-content: center;
}

#myVideo {
  position: absolute;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  object-fit: cover;
  /* z-index: -1; */
}

.lp p {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-weight: 500px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 8px black;
}

.cta button {
  color: white;
  font-size: 0.69rem;
  font-weight: 800;
  background-color: #ff4655;
  padding: 20px 90px 20px 90px;
  border: none;
  border-radius: 3px;
  margin-top: 50px;
  outline: solid 0.7px white;
  outline-offset: 10px;
  /* margin-left: 200px; */
}

button:hover {
  background-color: #001624;
  cursor: pointer;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vl-1 {
  border-right: 10px solid white;
  height: 100px;
  opacity: 40%;
}
