
.trailer-main {
    background-color: #e4e2da;  
    padding-bottom: 100px;

}

.trailer-main h1{
    letter-spacing: -.65rem;
    display: flex;
    font-size: 5rem;
    font-family:"DIN Next LT Pro Bold", Arial, Helvetica, sans-serif ;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-right: 400px;
}

.trailer-main h5{
    /* font-family: "DIN Next LT Pro", Arial, Helvetica, sans-serif ; */
    text-shadow: none;
    color: rgb(167, 167, 167);
    line-height: 2;
    font-size: .85rem;

}

.t1{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.t1-text{
    margin-left: 200px;
    margin-right: 100px;
    
}

.t1-img{
    margin-top: 50px;
    /* margin-left: 300px; */
}

.t1-text h5 span{
    color: #FF4655;
    margin-left: -7px;
}

.t1-text h5 span:hover{
    color: #000000;
    /* margin-left: -7px; */
}